body {
  height: 100vh;
}

.sfondo {
  background-image: url(https://static.vecteezy.com/system/resources/previews/017/750/216/non_2x/colosseum-or-coliseum-background-blue-sky-in-rome-italy-photo.jpg);
  background-size: cover;
  height: 90vh;
}

.titleShadow {
  text-shadow: 4px 2px 5px #000000;
}

.textShadow {
  text-shadow: 2px 2px 7px #000000;
}
